@model ExpenseDetailViewModel

<strong>Date</strong>
<p>@Model.Date.ToShortDateString()</p>

<strong>Amount</strong>
<p>€ @Model.Amount</p>

<strong>Description</strong>
<p>@Model.Description</p>

<strong>Category</strong>
<p>@Model.Category</p>

<strong>Tags</strong>
<ul>
    @foreach (var item in Model.Tags)
    {
        <li>@item</li>
    }
</ul>

<strong>Photo</strong>
@if (String.IsNullOrEmpty(Model.PhotoPath))
{
    <p><em>No photo available</em></p>
}
else
{
    <img src="@Model.PhotoPath" width="200" style="display:block"/>
}