@model StatisticsIndexViewModel

<strong>Highest expense</strong>
<p><em>€ @Model.Highest</em></p>

<strong>Lowest expense</strong>
<p><em>€ @Model.Lowest</em></p>

<strong>Biggest expense total in single day</strong>
@if (Model.HighestDay.Item1.HasValue)
{
    <p><em>€ @Model.HighestDay.Item2 on @Model.HighestDay.Item1.Value.ToShortDateString()</em></p>
}
else
{
    <p><em>No expenses yet</em></p>
}

<table class="table-bordered" cellpadding="5">
    <thead>
        <tr>
            <th>Month</th>
            <th>Total Expenses</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Monthly)
        {
            <tr>
                <td><em>@item.Item1.Item2/@item.Item1.Item1</em></td>
                <td><em>€ @item.Item2</em></td>
            </tr>
        }
    </tbody>
</table>